@import "tailwindcss";

html {
    overflow: -moz-hidden-unscrollable;
    /* Firefox */
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

@font-face {
    font-family: 'SixtyfourConvergence';
    src: url('./assets/fonts/SixtyfourConvergence-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IoNormal';
    src: url('./assets/fonts/IoNormal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-SixtyfourConvergence: "SixtyfourConvergence";
    --font-IoNormal: "IoNormal";
}